# **YBI Foundation Capstone Project**
Milk Grading/Milk Quality Prediction

Context:

This dataset is manually collected from observations. It helps us to build machine learning models to predict quality of milk.
This dataset consists of 7 independent variables ie pH, Temperature, Taste, Odor, Fat, Turbidity, Color.
Generally, Grade or Quality of the milk depends on these parameters. These parameters plays a vital role in predictive analysis of the milk.

Usage.
Target variable is nothing but Grade of the milk . It can be

0 ( Bad )

1 ( Moderate)

2  Good )

if Taste , Odor, Fat, Turbidity are satisfies optimal conditions then they will assign 2 otherwise 0.
Temperature and ph are given their actual values in the dataset.

Here, I will be predicting the grade of the milk using **Ensemble Bagging Technique.**



---

# Importing Libraries

In [160]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report, confusion_matrix
import seaborn as sns

# Importing CSV File

In [161]:
df = pd.read_csv('https://raw.githubusercontent.com/sakthi406/milk-grading/main/Milk%20Grading%20(1).csv')

In [162]:
df['Grade']=df['Grade'].replace({0.5:1,1:2})
df['Grade']=df['Grade'].astype(int)

# Fetching First and Last five rows of the dataset

In [163]:
df.head()

    pH  Temprature  Taste  Odor  Fat   Turbidity  Colour  Grade
0  6.6          35      1     0     1          0     254      2
1  6.6          36      0     1     0          1     253      2
2  8.5          70      1     1     1          1     246      0
3  9.5          34      1     1     0          1     255      0
4  6.6          37      0     0     0          0     255      1

In [164]:
df.tail()

       pH  Temprature  Taste  Odor  Fat   Turbidity  Colour  Grade
1054  6.7          45      1     1     0          0     247      1
1055  6.7          38      1     0     1          0     255      2
1056  3.0          40      1     1     1          1     255      0
1057  6.8          43      1     0     1          0     250      2
1058  8.6          55      0     1     1          1     255      0

# Getting Information About the Dataset

In [165]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1059 entries, 0 to 1058
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   pH          1059 non-null   float64
 1   Temprature  1059 non-null   int64
 2   Taste       1059 non-null   int64
 3   Odor        1059 non-null   int64
 4   Fat         1059 non-null   int64
 5   Turbidity   1059 non-null   int64
 6   Colour      1059 non-null   int64
 7   Grade       1059 non-null   int64
dtypes: float64(1), int64(7)
memory usage: 66.3 KB

## **Getting the column names of the dataset**

In [166]:
df.columns

Index(['pH', 'Temprature', 'Taste', 'Odor', 'Fat ', 'Turbidity', 'Colour',
       'Grade'],
      dtype='object')

## **Data Visualization**

In [167]:
#sns.pairplot(df)

## **Describing X(independent variable) and y(dependent variable)**

In [168]:
X = df[['pH', 'Temprature', 'Taste', 'Odor', 'Fat ', 'Turbidity', 'Colour']]

In [169]:
y = df['Grade']

In [170]:
X.shape

(1059, 7)

In [171]:
y.shape

(1059,)

## **Getting the description of the datase**

In [172]:
df.describe()

                pH   Temprature  ...       Colour        Grade
count  1059.000000  1059.000000  ...  1059.000000  1059.000000
mean      6.630123    44.226629  ...   251.840415     0.836638
std       1.399679    10.098364  ...     4.307424     0.787868
min       3.000000    34.000000  ...   240.000000     0.000000
25%       6.500000    38.000000  ...   250.000000     0.000000
50%       6.700000    41.000000  ...   255.000000     1.000000
75%       6.800000    45.000000  ...   255.000000     1.000000
max       9.500000    90.000000  ...   255.000000     2.000000

[8 rows x 8 columns]

# Standardizing the data

In [173]:
sc = StandardScaler()

In [174]:
X = sc.fit_transform(X)

In [189]:
X[0]

array([-0.02153136, -0.91410734,  0.91050291, -0.87296233,  0.69960809,
       -0.98221664,  0.5016002 ])

# Spliting of the data for training and testing

In [176]:
X_train, X_test, y_train, y_test = train_test_split( X, y, train_size = 0.7, random_state = 1534) #70% of the data are used for training

In [177]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((741, 7), (318, 7), (741,), (318,))

## **Invoking the RandomForestClassifier Function**

---

In [178]:
model = RandomForestClassifier()

# Fitting and Prediction of the model

In [179]:
model.fit(X_train,y_train)

RandomForestClassifier()

In [180]:
y_pred = model.predict(X_test)

In [181]:
y_pred

array([2, 0, 0, 0, 0, 1, 0, 2, 1, 0, 0, 2, 0, 0, 1, 0, 1, 1, 2, 0, 1, 2,
       1, 0, 0, 0, 2, 1, 1, 2, 1, 2, 2, 0, 0, 1, 0, 0, 2, 0, 0, 1, 0, 2,
       0, 1, 1, 0, 1, 0, 0, 2, 0, 1, 0, 2, 2, 0, 2, 2, 0, 0, 0, 1, 1, 0,
       0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 2, 1, 0, 1, 0, 0, 2, 0, 1, 1, 0,
       2, 2, 1, 2, 0, 0, 2, 0, 0, 0, 0, 1, 0, 2, 0, 1, 1, 0, 0, 0, 1, 1,
       2, 0, 2, 1, 1, 1, 0, 1, 2, 0, 2, 1, 1, 0, 0, 1, 0, 1, 2, 1, 0, 0,
       2, 0, 0, 2, 1, 2, 1, 1, 1, 2, 2, 1, 1, 1, 0, 1, 1, 0, 2, 0, 2, 1,
       0, 0, 1, 1, 1, 0, 2, 1, 1, 0, 2, 2, 0, 1, 1, 0, 0, 2, 1, 1, 1, 0,
       1, 0, 0, 0, 1, 2, 0, 0, 0, 2, 0, 2, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0,
       2, 0, 0, 1, 1, 0, 0, 2, 1, 0, 2, 1, 1, 1, 1, 0, 0, 0, 1, 0, 2, 2,
       1, 0, 0, 2, 1, 2, 0, 2, 2, 0, 0, 1, 1, 0, 2, 0, 0, 2, 1, 1, 0, 2,
       2, 2, 2, 2, 1, 1, 0, 2, 0, 0, 0, 2, 0, 1, 0, 1, 2, 0, 0, 0, 1, 2,
       0, 0, 2, 0, 2, 1, 1, 2, 0, 0, 1, 1, 1, 1, 0, 2, 1, 0, 1, 2, 1, 0,
       0, 1, 1, 2, 2, 1, 0, 1, 1, 2, 0, 0, 2, 1, 0, 1, 0, 0, 0, 2, 2, 0,
       0, 2, 2, 0, 0, 2, 0, 0, 1, 1])

## **Checking the accuracy of the model**

In [182]:
confusion_matrix(y_test,y_pred)

array([[137,   0,   1],
       [  0, 105,   0],
       [  0,   0,  75]])

In [183]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       1.00      0.99      1.00       138
           1       1.00      1.00      1.00       105
           2       0.99      1.00      0.99        75

    accuracy                           1.00       318
   macro avg       1.00      1.00      1.00       318
weighted avg       1.00      1.00      1.00       318

# FUTURE PREDICTION

In [188]:
x1=[2.05135125, -1.01318008,  0.91050291,  1.1455248 , -1.4293717 ,
        1.01810533,  0.73386719 ]
p1 =  model.predict([x1])
if p1[0] == 0:
  print("The milk quality is Bad!!!")
elif p1[0] == 1:
  print("The milk quality is Moderate!!!")
else:
  print("The milk quality is Good!!!")

The milk quality is Bad!!!

In [185]:
x1=[-0.02153136, -0.71596188, -1.09829413, -0.87296233, -1.4293717 ,
       -0.98221664,  0.73386719]
p1 =  model.predict([x1])
if p1[0] == 0:
  print("The milk quality is Bad!!!")
elif p1[0] == 1:
  print("The milk quality is Moderate!!!")
else:
  print("The milk quality is Good!!!")

The milk quality is Moderate!!!

In [190]:
x1=[ -0.02153136, -0.91410734,  0.91050291, -0.87296233,  0.69960809,
       -0.98221664,  0.5016002 ]
p1 =  model.predict([x1])
if p1[0] == 0:
  print("The milk quality is Bad!!!")
elif p1[0] == 1:
  print("The milk quality is Moderate!!!")
else:
  print("The milk quality is Good!!!")

The milk quality is Good!!!